<!DOCTYPE html>
<html>
  <head>
    <title>TemplateApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag   params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    
    <%= render 'shared/nav' %>
    <div class="content-wrapper">
      <%= yield %>
      <%= render 'shared/footer' %>
      <%= yield 'javascript_content' %>
    </div>
  </body>
</html>
